body {
    background-color: #000;
    color: white;
}
h1 {
  color: #FFF;
  /*font-family: 'Inter';*/
  font-size: 4vw;

}

header{
    width: 100%;
    /*text-align: center;*/
    height: 10%;
    position: fixed;
    top: 0;
    padding-left: 15%;
    z-index: -1;

	
}
#content{
    margin: auto;
    margin-top: 10%;
    background-color: black;
    width: 73%;



}


#stickside {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    /*margin-top: 30px;*/
    float: right;
    vertical-align: top;
    width: 25%;
    display: inline;

}

#stickside > div{
    margin-left: auto;
    width: 90%;
    border: 2px dashed #00FFD1;
    padding: 3%;
    margin-bottom: 10%;
    overflow: hidden;


}


#about{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    font-size: 150%;
}

#about > div{
    padding: 3%;
    border: 3px dashed #FF00E5;
    border-radius: 3%;


}

a{
    font-size: 23px;
    color: white;
}

a > img{
    height: 23px;
}

#previewimage{
    max-width: 100%;
    width: fit-content;
}

#changelanguage{
    position: fixed;
    top: 0;
    right: 0;
    background-color: bisque;

    border-bottom-left-radius: 5px;
    z-index: 1;


}

#changelanguage > button{
    background-color:#0000;
    border: 1px solid #0000;

}

#changelanguage > button > img{
    max-height: 30px;
    width: auto;
    border: 1px solid #0000;
}

#changelanguage > button > img:hover{

    border: 1px solid yellow;
}

@media (max-width: 900px){
    #content{
        width: 95%;
    }
}

@media (max-width: 700px){
    #stickside{
        position: relative;
        display: block;
        width: 100%;
        top: 0;
        margin: auto;
        float: top;
        padding-top: 30px;
        background: black;

    }
    #stickside > div{
        padding: 3%;
        border-radius: 3%;
        width: auto;
        margin: auto;
    }
    #about{
        display: block;
        width: 100%;
    }
    #stickside > div:nth-child(2){
        display: none;
    }
}