body {
  background-color: #f97;
  background-image: url("images/bg.webp");
  background-repeat: repeat;
}
h1 {
  color: #444;
  font-family: verdana;
  font-size: 300%;

}

bold {
	
	color: #a33;
	
}



header{
  top: 0%;
  width: 100%;
  text-align: center;	
  height: 100px;
	
}

section{
	

	
	margin:30px;
	width:100%;
	
	
}


aside{
	
	display: inline;
	
	position: absolute;
	
	width:auto;
	height: 100%;
	

	
}

article{
	

	
	background-color: #fff;
	color: #333;
	padding: 100px;
	margin: auto;
	border: 10px solid black;
	border-radius: 50px;
	opacity: 0.8;
	
	width:50%;
	
	font-size: 125%;
	
}

p{
	margin: 20px;
}

.flag{
	height: 20px;
	width: auto;
	border: 1px solid #0000;
}

.flag:hover{
	border: 1px solid yellow;
}

.hidden_div{
	display:none;
}

button{
	background-color:#0000;
	border: 1px solid #0000;
	padding:0px;
	margin:0px;
}


#language_choice{
  position: fixed;
  top: 8px;
  right: 16px;
  display:inline;
	
	
	
}

#contacts{
	border: 1px solid gray;
	width: 15%;
	background-color:white;
	text-align: center;	
	
}

.contacts_capsule{

	border: 3px solid gray;
	border-radius: 50px;
	
}

.project_image{
	float:left;
	width:24%;
	height:24%;
	margin:2%;
}



@media (max-width: 800px) {
  aside {
    display: none;
  }
  
  article{
	  width:auto;
	  float:center;
	  display:block;
	  padding:10px;
	  font-size: 100%;
	  border: 6px solid black;
	  margin:auto;
  }
  
  section{
	  margin:auto;
	  margin-top:60px;
  }
  
  #language_choice{
	  position: absolute;
  }
  
  .project_image{
	  width:50%;
	  height:50%;
	  float:center;
  }
}
